body{
  margin: 0;
  padding-top: 10rem;
  font-family: sans-serif;
  background-blend-mode:darken;
}
header{
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 50px;
  background-color: grey;
  width: 100%;
  box-sizing: border-box;
}
  .logo img{
    height: 100px;
    float: left;
    width: 200px;
}
 header nav{
  float: right;
}
Header nav ul{
  margin: 0;
  padding: 0;
  display: flex;
}
header nav ul li{
  list-style: none;
}
header nav ul li a{
  padding: 0 30px;
  line-height: 100px;
  height: 100px;
  color: #f2f2f2;
  text-decoration: none;
  font-size: 20px;
text-transform: uppercase;


}
header nav ul li a:hover{
background: #ddd;
color: black;
display: block;
}
.menu-toggle{
  color: black;
  float: right;
  line-height: 50px;
  font-size: 24px;
  cursor: pointer;
  display: none;
}
@media(max-width:991px)
{Header
{padding: 0 20px;
}
.menu-toggle{
  display: block;
}
header nav{
  /*display: none;*/
  position: absolute;
  width: 100%;
  height:calc(100vh - 50px);
background-color: black;
  top: 80px;
  bottom: auto;
  left: -100%;
  transition: 0.5s;
}
header nav.active{
  left: 0;
}
header nav ul{
  display: block;

}
header nav ul a{
  border-bottom: 1px solid rgba( 0, 0, 0.2);
}

}

  .card1{
  min-width: 300px;
  width: 25%;
  display: inline-block;
  border-radius: 5px;
  margin: 90px;
  box-shadow: 2px 2px 10px grey;

}
.image1 img{
  width:100%;

}




h3{
  font-style: italic;
  text-align: center;
}
h2{
  text-align: center;
}
p{
  color: black;
  line-height: 30px;
  margin: 15px;
  text-align: justify;
}
p1{
  line-height: 30px;
}

*{
  margin: 0px;
  padding: 0px;
}


.main{
  display:inline-flex;
  margin: 20px;
  height:550px;

}

.main_2{
  display: inline-flex;
  margin: 20px;
  height:550px;
}

.cards{
  min-width: 300px;
  width: 25%;
  display: inline-block;
  border-radius: 5px;
  margin: 60px;
  box-shadow: 2px 2px 10px grey;
}
.image{
  overflow:hidden;
  height: 45%;
}
.image img{
  width: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  transition: all 1.5s ease;
}
.image:hover img{
  transform: scale(1.5);
}
.title{
  text-align: center;
  padding: 5px;
}
.des{
  text-align: center;
  padding: 5px;
}
.btn {
    margin: 10px 50px;
}
.button{
  background-color: white;
  border: 1px solid black;
  padding: .5px;
  border-radius: 5px;
  cursor: pointer;
}
.button:hover{
  background-color: black;
  color: white;
  transition: .5s;

}
 a:hover {
background-color: powderblue;
color: red;
}
a{
  color: blue;
  margin: 20px;
}

.content-container{
   max-width:980px;
  background-color: #ffffcc;
  padding: 120px;
  margin-left:100px;
  font-size: 20px;
}
h1{
  background-color:#000066;
  text-align: center;
  color: white;
}

h4{
color: white;
text-align: center;
background-color: blue;
font-size: 30px;
}
.dropbtn {
  color: blue;
  padding: 0;
  font-size: 20px;
  border:0;
  cursor: pointer;
  text-decoration: underline;

}

.dropbtn:hover{
  background-color:#ffffcc;
}


.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  max-width:980px;
  background: #ffffcc;

}
.dropdown-content h5{
  font-size: 25px;
  color: blue;
}
h5{
  font-size:25px;
}
.show {display: block;}
