body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image:url('clockbackground4.jpg');
  background-repeat: no-repeat;
  background-size:1500px 750px;
  background-blend-mode:darken;

}



  .logo img{
    height: 100px;
    float: left;
    width: 200px;

  }

  .navbar {
    background-color: grey;
    overflow: hidden;
    width: 100%;

  }
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align:center;
    padding: 30px 28px;
    text-decoration: none;
    font-size: 17px;
    text-transform: uppercase;

  }
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }

  .active {
    background-color: grey;
    color: white;
    }



h3{
  font-style: italic;
  text-align: center;
}
h2{
  text-align: center;
}
p{
  color: black;
  line-height: 30px;
  margin: 15px;
}
p1{
  line-height: 30px;
}

h1{
  background-color:#000066;
  text-align: center;
  color: white;
}

*{
  margin: 0px;
  padding: 0px;
}


.main{
  display:inline-flex;
  margin: 20px;


}

.main_2{
  display: inline-flex;
}

.cards{
  min-width: 300px;
  width: 25%;
  display: inline-block;
  border-radius: 5px;
  margin: 60px;
  box-shadow: 2px 2px 10px grey;
}
.image{
  overflow:hidden;
  height: 45%;
}
.image img{
  width: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  transition: all 1.5s ease;
}
.image:hover img{
  transform: scale(1.5);
}
.title{
  text-align: center;
  padding: 5px;
}
.des{
  text-align: center;
  padding: 5px;
}
.btn {
  margin-left: 20px;
}
.button{
  background-color: white;
  border: 1px solid black;
  padding: .5px;
  border-radius: 5px;
  cursor: pointer;
}
.button:hover{
  background-color: black;
  color: white;
  transition: .5s;

}
 a:hover {
background-color: powderblue;
color: red;
}
a{
  color: blue;
  margin: 20px;
}

.content-container{
   max-width:980px;
  background-color: #ffffcc;
  padding: 20px;
  margin-left:100px;
  font-size: 20px;
}

h4{
color: white;
text-align: center;
background-color: blue;
font-size: 30px;
}
iframe{
   width:420px;
    height:300px;

}
.dropbtn {
  color: blue;
  padding: 0;
  font-size: 20px;
  border:0;
  cursor: pointer;
  text-decoration: underline;

}

.dropbtn:hover{
  background-color:#ffffcc;
}


.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  max-width:980px;
  background: #ffffcc;

}
.dropdown-content h5{
  font-size: 25px;
  color: blue;
}
h5{
  font-size:25px;
}
.show {display: block;}
